{
    "plugins": [ ],
    "overrides": [
        {
            "files": ".prettierrc",
            "options": {
                "parser": "json"
            }
        },
        {
            "files": "*.html.j2",
            "options": {
                "parser": "html"
            }
        }
    ]
}
