{%comment-%} vim: ft=html
{% endcomment -%}
<div class="list-group-item list-group-item-action"
       id="{{ item.id }}"
       onclick="toggle_bs_major_task(this); handle_onclick(this, '{{ item.id }}')"
       oncontextmenu="toggleSubtasks(event, this)"
>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{ item.title | upcase }}</h5>
    {% if item.isDaily -%}
    <small>Daily</small>
    {% else -%}
    <small>Weekly</small>
    {% endif -%}
  </div>
  <p class="mb-1">{{ item.desc }}</p>
  <div class="d-flex w-100 justify-content-between">
    <small>+{{ item.reputation }}</small>
    {% if item.isElite -%}
    <small>Elite</small>
    {% endif -%}
    {% if item.isPermanent -%}
    <small>Permanent</small>
    {% endif -%}
  </div>
</div>
<script type="module">
  import { init_major_task_state } from '/warframe-app/js/init_task_state.js';
  init_major_task_state("{{ item.id }}");
</script>

