{%comment-%} vim: ft=html
{% endcomment -%}
<div class="wf-task-major list-group-item list-group-item-action"
       id="{{ item.id }}"
       oncontextmenu="toggleSubtasks(event, this)"
>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{ item.title | upcase }}</h5>
    {% if item.isDaily -%}
    <small>Daily</small>
    {% else -%}
    <small>Weekly</small>
    {% endif -%}
  </div>
  <p class="mb-1">{{ item.desc }}</p>
  <div class="d-flex w-100 justify-content-between">
    <small>+{{ item.reputation }}</small>
    {% if item.isElite -%}
    <small>Elite</small>
    {% endif -%}
    {% if item.isPermanent -%}
    <small>Permanent</small>
    {% endif -%}
  </div>
</div>

