{%- comment %} variables to assign before including this template:
  item.id
  item.name
  item.parts?
{% endcomment -%}
<label class="wf-task-major list-group-item list-group-item-action"
       id="{{ item.id }}"
       oncontextmenu="toggleSubtasks(event, this)"
 >
  <strong>{{ item.name }}</strong>
    <ul class="list-group mt-2">
    {% for part in item.parts %}
      {% capture part_id %}{{ part.id }}{% endcapture -%}
      {% assign rarity = part.relic.rarity %}
      <li class="wf-task-minor list-group-item list-group-item-action list-group-item-secondary"
          id="{{ part_id }}" >
          <div class="d-flex">
            <div class="flex-grow-1">{{ part.part_type }}</div>
            <div class="flex-shrink-1">{{ part.relic.name }}{% include rarity-icon.html -%}</div>
          </div>
      </li>
    {%- endfor %}
    </ul>
</label>
