{% for item in prime_resurgence %}
        <li>
            <div class="row">
                <input id="toggle_li_{{ item.wf_id }}" type="checkbox">
                <label for="toggle_li_{{ item.wf_id }}">
                    <span>+ {{ item.wf_name }}</span>
                    <span>- {{ item.wf_name }}</span>
                </label>
                <div class="list">
                    <ul>
                        <li><input type="checkbox" id="{{ item.wf_id }}_neuroptics" onclick="handle_onclick('{{ item.wf_id }}_neuroptics')"> <label for="{{ item.wf_id }}_neuroptics">Neuroptics</label><br></li>
                        <li><input type="checkbox" id="{{ item.wf_id }}_chassis"    onclick="handle_onclick('{{ item.wf_id }}_chassis')">    <label for="{{ item.wf_id }}_chassis">Chassis</label><br></li>
                        <li><input type="checkbox" id="{{ item.wf_id }}_systems"    onclick="handle_onclick('{{ item.wf_id }}_systems')">    <label for="{{ item.wf_id }}_systems">Systems</label><br></li>
                    </ul>
                </div>
            </div>
        </li>
{% endfor %}
