@import "tailwindcss";


body {
    @variant dark {
        background-color: #111111;
        color: green;
    }
}



[id^="toggle_li"],                        /* HIDE CHECKBOX */
[id^="toggle_li"] ~ .list,                /* HIDE LIST */
[id^="toggle_li"] + label  span + span,   /* HIDE "Collapse" */
[id^="toggle_li"]:checked + label span{   /* HIDE "Expand" (IF CHECKED) */
  display:none;
}
[id^="toggle_li"]:checked + label span + span{
  display:inline-block;                 /* SHOW "Collapse" (IF CHECKED) */
}
[id^="toggle_li"]:checked ~ .list{
  display:block;                        /* SHOW LIST (IF CHECKED) */
}
