@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

[id^="toggle_li"],                        /* HIDE CHECKBOX */
[id^="toggle_li"] ~ .list,                /* HIDE LIST */
[id^="toggle_li"] + label  span + span,   /* HIDE "Collapse" */
[id^="toggle_li"]:checked + label span{   /* HIDE "Expand" (IF CHECKED) */
  display:none;
}
[id^="toggle_li"]:checked + label span + span{
  display:inline-block;                 /* SHOW "Collapse" (IF CHECKED) */
}
[id^="toggle_li"]:checked ~ .list{
  display:block;                        /* SHOW LIST (IF CHECKED) */
}

.tab-button {
    padding: 10px 20px;
    margin: 0;
    border: 2px solid transparent;
    border-radius: 0.375rem 0.375rem 0 0;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}

.tab-button:hover {
    background-color: gray;
    @variant dark {
        background-color: #334155;
    }
}

.tab-button.active {
    background-color: #2563eb;
    color: white;
    border-color: #2563eb;
    border-bottom: none;
}

.tab-content {
    padding: 20px;
    color: black;
    background-color: white;
    border-radius: 0 0 0.375rem 0.375rem;
    @variant dark {
        color: white;
        background-color: #111827;
    }
}

.tab-content.hidden {
    display: none;
}
