---
layout: page
refactor: false
---
<style>
  [id^="toggle_li"],                        /* HIDE CHECKBOX */
[id^="toggle_li"] ~ .list-group,                /* HIDE LIST */
[id^="toggle_li"] + label  span + span,   /* HIDE "Collapse" */
[id^="toggle_li"]:checked + label span {
    /* HIDE "Expand" (IF CHECKED) */
    display: none;
  }
  [id^="toggle_li"]:checked + label span + span {
    display: inline-block; /* SHOW "Collapse" (IF CHECKED) */
  }
  [id^="toggle_li"]:checked ~ .list-group {
    display: block; /* SHOW LIST (IF CHECKED) */
  }
</style>

{{ content }}

<script type="module">
  import { update_checkbox } from "/warframe-app/js/update_checkbox.js";
  window.handle_onclick = update_checkbox;

  function toggle_mode() {
    var e = document.getElementsByTagName("html")[0];
    if (
      sessionStorage.mode === "dark"
      || (!("mode" in sessionStorage)
      && window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      e.setAttribute("data-bs-theme", "dark");
    } else {
      e.setAttribute("data-bs-theme", "light");
    }
  }
  toggle_mode();
  document.getElementById('mode-toggle').addEventListener("click", toggle_mode);
</script>
<script src="/warframe-app/js/index.js" type="module"></script>
