---
layout: page
refactor: false
---
{{ content }}

<script>
  function init_task_state(id) {
    console.assert(false, 'UPDATE ME - init_task_state(' + id + ')');
    let part_status = localStorage.getItem(id);
    if (part_status) {
      let is_complete = part_status == "true";
      if (is_complete) {
        document.getElementById(id).classList.add("list-group-item-success");
      }
    }
  }
  function handle_onclick(element, id) {
    console.assert(false, 'UPDATE ME - handle_onclick(e,' + id + ')');
    //const e = e || document.getElementById(id);
    var is_complete = false;
    if (element.hasOwnProperty("checked")) {
      is_complete = element.checked;
    } else {
      is_complete = element.classList.contains("list-group-item-success");
    }
    console.log("checkbox '" + id + "' is checked: " + is_complete);
    localStorage.setItem(id, is_complete);
  }

  function toggle_bs_major_task(element) {
    console.assert(false, 'UPDATE ME - handle_onclick(e,' + id + ')');
    element.classList.toggle("list-group-item-success");
    if (element.classList.contains("list-group-item-success")) {
      let subtasks = element.querySelector("ul");
      if (subtasks) {
        subtasks.classList.add("d-none");
      }
    }
  }

  function toggle_bs_task(element) {
    console.assert(false, 'UPDATE ME - toggle_bs_task()');
    element.classList.toggle("list-group-item-success");
  }

  function toggleSubtasks(event, element) {
    if (event) {
      event.preventDefault(); // Prevents the context menu from appearing
    }
    let subtasks = element.querySelector("ul");
    if (subtasks) {
      subtasks.classList.toggle("d-none");
    }
  }

  function set_mode(mode) {
    var elms = document.getElementsByTagName("html");
    for (let i = 0; i < elms.length; i++) {
      let e = elms[i];
      e.setAttribute("data-mode", mode);
      e.setAttribute("data-bs-theme", mode);
    }
  }

  let init_mode = 'light';
  if ("mode" in localStorage) {
    init_mode = localStorage.getItem("mode");
    sessionStorage.setItem("mode", init_mode);
  } else if ("mode" in sessionStorage) {
    init_mode = sessionStorage.mode;
  } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
    init_mode = "dark";
  }
  set_mode(init_mode);

  window.onmessage = function(event) {
    let e = document.getElementsByTagName("html")[0];
    let mode = window.matchMedia("(prefers-color-scheme: dark)").matches ? 'dark' : 'light';
    for (let attr of e.attributes) {
      if (attr.name == 'data-mode') {
        mode = attr.nodeValue;
        break;
      }
    }
    set_mode(mode);
  }
</script>
<script src="/warframe-app/js/index.js" type="module"></script>
