---
layout: page
refactor: false
---
{{ content }}

<script>
  function init_task_state(id) {
    let part_status = localStorage.getItem(id);
    if (part_status) {
      let is_complete = part_status == "true";
      if (is_complete) {
        document.getElementById(id).classList.add("list-group-item-success");
      }
    }
  }
  function handle_onclick(element, id) {
    //const e = e || document.getElementById(id);
    var is_complete = false;
    if (element.hasOwnProperty("checked")) {
      is_complete = element.checked;
    } else {
      is_complete = element.classList.contains("list-group-item-success");
    }
    console.log("checkbox '" + id + "' is checked: " + is_complete);
    localStorage.setItem(id, is_complete);
  }

  function toggle_bs_major_task(element) {
    element.classList.toggle("list-group-item-success");
    if (element.classList.contains("list-group-item-success")) {
      let subtasks = element.querySelector("ul");
      if (subtasks) {
        subtasks.classList.add("d-none");
      }
    }
  }

  function toggle_bs_task(element) {
    element.classList.toggle("list-group-item-success");
  }

  function toggleSubtasks(event, element) {
    if (event) {
      event.preventDefault(); // Prevents the context menu from appearing
    }
    let subtasks = element.querySelector("ul");
    if (subtasks) {
      subtasks.classList.toggle("d-none");
    }
  }

  function toggle_mode() {
    var e = document.getElementsByTagName("html")[0];
    if (
      sessionStorage.mode === "dark" ||
      (!("mode" in sessionStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      e.setAttribute("data-bs-theme", "dark");
    } else {
      e.setAttribute("data-bs-theme", "light");
    }
  }
  toggle_mode();
  document.getElementById("mode-toggle").addEventListener("click", toggle_mode);
</script>
<script src="/warframe-app/js/index.js" type="module"></script>
