{# -- TODO: add search items to the prime_resurgence list? -- #}
<div class="flex-grow shadow-lg">
    <form id="search_form">
        <label for="search">Search:</label>
        <input type="text" id="search" name="search">
    </form>
</div>
