{# -- TODO: add search items to the prime_resurgence list? -- #}
<div class="flex-grow ">
    <form id="search_form shadow-lg">
        <label for="search">Search:</label>
        <input type="text" id="search" name="search" class="border shadow-lg">
    </form>
</div>
