<p>hello star chart</p>
<ul>
    <li>Earth</li>
    <li>Lua</li>
    <li>Venus</li>
    <li>Mercury</li>
    <li>Mars</li>
    <li>Deimos</li>
    <li>Ceres</li>
    <li>Jupiter</li>
    <li>Saturn</li>
    <li>Uranus</li>
    <li>Neptune</li>
    <li>Pluto</li>
    <li>Eris</li>
    <li>Phobos</li>
    <li>Sedna</li>
    <li>Europa</li>
    <li>Void</li>
    <li>Zariman</li>
    <li>Kuva Fortress</li>
    <li>Hex</li>
</ul>
